html {
	scroll-behavior: smooth;
}

body {
	font-family: source-code-pro, monospace;
	font-style: normal;
	font-weight: 400;
	color: rgb(255,255,255);

	margin-left: 150px;
	margin-right: 150px;
	margin-top: 50px;
	margin-bottom: 50px;

	background-color: black;
}

p{
	line-height: 1.5em; 
}

h1, h2, h3, h4, h5 {
	font-family: termina, sans-serif;
	font-style: normal;
	font-weight: 700;

	color: rgb(255,255,0);
}

h6 {
	font-family: termina, sans-serif;
	font-style: normal;
	font-weight: 400;

	color: rgb(255,255,0);
}

a {
	/*text-decoration: none;*/
	color: rgb(255,255,255);

	font-style: italic;
}
a:hover {
	color: rgb(200,200,200); 

	font-style: italic;
}
img{
	width: 100%;
  	max-height: 100%;
}
/*-------------------------------universal assets-----------------------------------*/
.border{
	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;

/*	padding: 25px;*/
}
.bar{
	grid-column-start:1;
	grid-column-end: 12 span;

	height:1px;
	width:auto;
	background-color: rgb(255,255,0);

	margin-top: 50px;
	margin-bottom: 50px;
}
/*-------------------------------body grid-----------------------------------*/
.body-grid {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

}
/*-------------------------------header / footer-----------------------------------*/
.header{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-column-gap: 25px;
	grid-column-start:1;
	grid-column-end: 12 span;
	z-index: 100;

	position: -webkit-sticky; /* Safari */
  	position: sticky;
  	top: 0;

  	background-color: black;
}
.header a {
	text-decoration: none;
	color: rgb(255,255,0) !important;

	font-style: normal;
}
.header a:hover {
	color: rgb(200,200,0) !important; 

	font-style: normal;
}
.head.one{
	grid-column-start:1;
	grid-column-end: 3 span;
}
.head.two{
	grid-column-start:10;
	grid-column-end: 1 span;
}
.head.three{
	grid-column-start:11;
	grid-column-end: 1 span;
}
.head.four{
	grid-column-start:12;
	grid-column-end: 1 span;
}
.head.five{
	grid-column-start:9;
	grid-column-end: 1 span;
}

.header + .body-grid {
  padding-top: 100px;
}

.footer{
	position: fixed;
	right:150px;
	bottom:0px;
	z-index: 100;
	opacity: 0.25;
}
.footer .copy{
	position: fixed;
	left:150px;
	bottom:0px;
	z-index: 100;
}
.back2top{
	position: fixed;
	right:150px;
	bottom:50px;
	z-index: 98;

	width:40px;
	height:40px;
	
	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
}
.back2top-outline{
	position: relative;
    top:10px;
	left:10px;
    width:0px;
	height:0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid rgb(255,255,0);
}

.back2top-outline:hover{
	position: relative;
    top:10px;
	left:10px;
    width:0px;
	height:0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid rgb(200,200,0);
}
/*-------------------------------landing / title-----------------------------------*/
.title{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:1;
	grid-row-end: 2 span;
	padding-bottom: 200px;

	font-size:1.75em;
}
.title.f10{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
	padding-bottom: 0px;

	font-size:1.75em;
}
/*-------------------------------about-----------------------------------*/
.about{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.me{
	margin-top: 1em;

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
/*-------------------------------work-----------------------------------*/
.work{
	grid-column-start:1;
	grid-column-end: 7 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.worklist{
	padding: 25px;
	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	background-color: black;
}
.worklist a{
	text-decoration: none;
}
.workimg h2{
	padding: 0px;
	margin: 0px;

	color: black;
}
.workimg.fifteen{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:7;
	grid-row-end: 1 span;
}
.workimg.fourteen{
	grid-column-start:5;
	grid-column-end: 4 span;
	grid-row-start:7;
	grid-row-end: 1 span;
}
.workimg.eleven{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:7;
	grid-row-end: 1 span;
}
.workimg.twelve{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}
.workimg.thirteen{
	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	grid-column-start:5;
	grid-column-end: 4 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}
.workimg.one{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}
.workimg.two{
	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:9;
	grid-row-end: 1 span;
}
.workimg.three{
	grid-column-start:5;
	grid-column-end: 4 span;
	grid-row-start:9;
	grid-row-end: 1 span;
}
.workimg.four{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:9;
	grid-row-end: 1 span;
}
.workimg.five{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:10;
	grid-row-end: 1 span;
}
.workimg.six{
	grid-column-start:5;
	grid-column-end: 4 span;
	grid-row-start:10;
	grid-row-end: 1 span;
}
.workimg.seven{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:10;
	grid-row-end: 1 span;
}
.workimg.eight{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:11;
	grid-row-end: 1 span;
}
.workimg.nine{
	grid-column-start:5;
	grid-column-end: 4 span;
	grid-row-start:11;
	grid-row-end: 1 span;
}
.workimg.ten{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:11;
	grid-row-end: 1 span;
}
.workimg.block{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;

	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:12;
	grid-row-end: 1 span;

	padding: 100px;
	text-align: center;
}
/*-------------------------------contact-----------------------------------*/
.contact{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:14;
	grid-row-end: 1 span;
}
.contact.block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:14;
	grid-row-end: 1 span;
}
/*-------------------------------overlay images-----------------------------------*/
/* Main container */
.overlay-image {
 position: relative;
 width: 100%;
}

/* Original image */
.overlay-image .gridimg {
 display: block;
 width: 100%;
 height: auto;
}
/* Original text overlay */
.overlay-image .imgtxt {
	color: black;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
}
/* New overlay on hover */
.overlay-image .hover {
 position: absolute;
 top: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .2s ease;
}
/* New overlay appearance on hover */
.overlay-image:hover .hover {
 opacity: 1;
}
/********* Background and text only overlay on hover *******/
.overlay-image .normal {
 transition: .2s ease;
}
.overlay-image:hover .normal {
 opacity: 0;
}
.overlay-image .hover {
 background-color: rgb(255,255,0);
}

/*-------------------------------features-----------------------------------*/
/*-------------------------------feature 1 / f1-----------------------------------*/
.f1.one{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f1.block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:5;
	grid-row-end: 1 span;
}
.f1.two{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:5;
	grid-row-end: 1 span;
}
.f1.six{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f1.seven{
	grid-column-start:5;
	grid-column-end: 4 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f1.three{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;

	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:6;
	grid-row-end: 1 span;

	padding: 10px;
	padding-top: 100px;
}
.f1.four{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:7;
	grid-row-end: 1 span;

	padding: 10px;
	padding-top: 100px;
}
.f1.nine{
	grid-column-start:5;
	grid-column-end: 4 span;
	grid-row-start:7;
	grid-row-end: 1 span;
}
.f1.ten{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:7;
	grid-row-end: 1 span;
}
.f1.eight{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}

/*-------------------------------feature 2 / f2-----------------------------------*/
.f2.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f2.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end:12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f2.body-insideGrid.one .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f2.body-insideGrid.one .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
/*.f2.body-insideGrid.one .two{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}*/
.f2.body-insideGrid.one .three{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f2.body-insideGrid.one .three-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;

	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:3;
	grid-row-end: 1 span;

	margin: 0px;
	padding: 10px;
	padding-top: 100px;
}

.f2.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f2.body-insideGrid.two .one-desc{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f2.body-insideGrid.two .two{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 5 span;
}
.f2.body-insideGrid.two .three{
	grid-column-start:8;
	grid-column-end: 5 span;
	grid-row-start:5;
	grid-row-end: 2 span;

	padding-bottom: 0px;
}

.f2.body-insideGrid.three{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}
.f2.body-insideGrid.three .one-desc{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f2.body-insideGrid.three .two{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 5 span;
}
.f2.body-insideGrid.three .three{
	grid-column-start:8;
	grid-column-end: 5 span;
	grid-row-start:5;
	grid-row-end: 2 span;

	padding-bottom: 0px;
}

.f2.body-insideGrid.four{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:10;
	grid-row-end: 1 span;
}
.f2.body-insideGrid.four .one-desc{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f2.body-insideGrid.four .two{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 5 span;
}
.f2.body-insideGrid.four .three{
	grid-column-start:8;
	grid-column-end: 5 span;
	grid-row-start:5;
	grid-row-end: 2 span;

	padding-bottom: 0px;
}

/*-------------------------------feature 3 / f3-----------------------------------*/
.f3.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f3.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end:12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f3.body-insideGrid.one .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f3.body-insideGrid.one .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}

.f3.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f3.body-insideGrid.two .one{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f3.body-insideGrid.two .one-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 75px;

	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f3.body-insideGrid.two .two{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}

.f3.body-insideGrid.three{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:7;
	grid-row-end: 1 span;
}
.f3.body-insideGrid.three .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f3.body-insideGrid.three .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}

/*-------------------------------feature 4 / f4-----------------------------------*/
.f4.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f4.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end:12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f4.body-insideGrid.one .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f4.body-insideGrid.one .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}

.f4.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}

.f4.body-insideGrid.two .one{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f4.body-insideGrid.two .one-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 100px;

	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f4.body-insideGrid.two .two{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f4.body-insideGrid.two .three{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f4.body-insideGrid.two .three-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 75px;
	
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f4.body-insideGrid.two .four{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}

/*-------------------------------feature 5 / f5-----------------------------------*/
.f5.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f5.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end:12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f5.body-insideGrid.one .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f5.body-insideGrid.one .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f5.body-insideGrid.one .two{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f5.body-insideGrid.one .two-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;

	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:3;
	grid-row-end: 1 span;

	margin: 0px;
	padding: 10px;
	padding-top: 100px;
}
.f5.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f5.body-insideGrid.two .one{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 4 span;
}
.f5.body-insideGrid.two .one-desc{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f5.body-insideGrid.two .two{
	grid-column-start: 8;
	grid-column-end: 5 span;
	grid-row-start:4;
	grid-row-end: 2 span;
}
.f5.body-insideGrid.two .three{
	grid-column-start:4;
	grid-column-end: 4 span;
	grid-row-start:5;
	grid-row-end: 2 span;
}
.f5.body-insideGrid.three{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}
.f5.body-insideGrid.three .one{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 4 span;
}
.f5.body-insideGrid.three .one-desc{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f5.body-insideGrid.three .two{
	grid-column-start: 8;
	grid-column-end: 5 span;
	grid-row-start:4;
	grid-row-end: 2 span;
}
.f5.body-insideGrid.three .three{
	grid-column-start:4;
	grid-column-end: 4 span;
	grid-row-start:5;
	grid-row-end: 2 span;
}

.f5.body-insideGrid.four{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:10;
	grid-row-end: 1 span;
}
.f5.body-insideGrid.four .one{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 4 span;
}
.f5.body-insideGrid.four .one-desc{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f5.body-insideGrid.four .two{
	grid-column-start: 8;
	grid-column-end: 5 span;
	grid-row-start:4;
	grid-row-end: 2 span;
}
.f5.body-insideGrid.four .three{
	grid-column-start:4;
	grid-column-end: 4 span;
	grid-row-start:5;
	grid-row-end: 2 span;
}
/*-------------------------------feature 6 / f6-----------------------------------*/
.f6.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f6.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end:12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f6.body-insideGrid.one .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f6.body-insideGrid.one .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f6.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}

.f6.body-insideGrid.two .one{
	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;

	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f6.body-insideGrid.two .one-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 75px;

	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f6.body-insideGrid.two .two{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f6.body-insideGrid.two .three{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f6.body-insideGrid.two .three-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 75px;
	
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f6.body-insideGrid.three{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}
.f6.body-insideGrid.three .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f6.body-insideGrid.three .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
/*-------------------------------feature 7 / f7-----------------------------------*/
.f7.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end:12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.one .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.one .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}

.f7.body-insideGrid.two .one{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.two .one-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 50px;

	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.two .two{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.two .three{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.two .three-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	/*padding-top: 50px;*/
	
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.two .four{
	grid-column-start:1;
	grid-column-end: 6 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.two .five{
	grid-column-start:7;
	grid-column-end: 6 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.two .six{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:5;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.two .six-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 125px;
	
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:5;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.three{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.three .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f7.body-insideGrid.three .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}

/*-------------------------------feature 8 / f8-----------------------------------*/
.f8.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end:12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.one .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.one .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.two .one{
	grid-column-start:1;
	grid-column-end:4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.two .one-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 20px;

	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.two .two{
	grid-column-start:5;
	grid-column-end:4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.two .three{
	grid-column-start:5;
	grid-column-end:8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.two .three-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 150px;

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.two .four{
	grid-column-start:1;
	grid-column-end:8 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.two .four-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 150px;

	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.two .five{
	grid-column-start:1;
	grid-column-end:6 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f8.body-insideGrid.two .six{
	grid-column-start:7;
	grid-column-end:6 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
/*-------------------------------feature 9 / f9-----------------------------------*/
.f9.zero{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f9.zerolist{
	padding: 25px;
	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	background-color: black;

	font-style: italic;
}
.f9 h2{
	padding: 0px;
	margin: 0px;

	color: black;
}
/*.f9 img {
	width: 100%;
	max-height: auto;
}*/
.f9.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end:4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.one .two{
	grid-column-start:5;
	grid-column-end:4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.one .three{
	grid-column-start:9;
	grid-column-end:4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.one .four{
	grid-column-start:1;
	grid-column-end:4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.one .five{
	grid-column-start:5;
	grid-column-end:4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.one .six{
	grid-column-start:9;
	grid-column-end:4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.one .seven{
	grid-column-start:1;
	grid-column-end:4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.one .eight{
	grid-column-start:5;
	grid-column-end:4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.one .nine{
	grid-column-start:9;
	grid-column-end:4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.one .ten{
	grid-column-start:1;
	grid-column-end:4 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.one .eleven{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;

	padding: 100px;
	text-align: center;

	grid-column-start:5;
	grid-column-end:8 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;

	align-content: center;
}
.f9.body-insideGrid.two .one{
	grid-column-start:1;
	grid-column-end:4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.two .two{
	grid-column-start:5;
	grid-column-end:4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f9.body-insideGrid.two .three{
	grid-column-start:9;
	grid-column-end:4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
/*-------------------------------feature 10 / f10-----------------------------------*/
.f10.zero{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f10.zerolist{
	padding: 25px;
	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	background-color: black;

	font-style: italic;
}

/*-------------------------------toronto-----------------------------------*/
.f10.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.one .one-desc{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
/*-------------------------------japan-----------------------------------*/
.f10.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.two .one{
	grid-column-start:2;
	grid-column-end: 6 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.two .one-desc{
	grid-column-start:8;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.two .two{
	grid-column-start:6;
	grid-column-end: 5 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.two .two-desc{
	grid-column-start:2;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;

	text-align: right;
}
.f10.body-insideGrid.two .three{
	grid-column-start:1;
	grid-column-end: 9 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.two .three-desc{
	grid-column-start:10;
	grid-column-end: 3 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.two .four{
	grid-column-start:7;
	grid-column-end: 6 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.two .four-desc{
	grid-column-start:3;
	grid-column-end: 4 span;
	grid-row-start:4;
	grid-row-end: 1 span;

	text-align: right;
}
.f10.body-insideGrid.two .five{
	grid-column-start:4;
	grid-column-end: 9 span;
	grid-row-start:5;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.two .five-desc{
	grid-column-start:1;
	grid-column-end: 3 span;
	grid-row-start:5;
	grid-row-end: 1 span;

	text-align: right;
}
.f10.body-insideGrid.two .six{
	grid-column-start:1;
	grid-column-end: 6 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.two .six-desc{
	grid-column-start:7;
	grid-column-end: 5 span;
	grid-row-start:6;
	grid-row-end: 1 span;

	/*text-align: right;*/
}
/*-------------------------------misc-----------------------------------*/
.f10.body-insideGrid.three{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.three .one{
	grid-column-start:8;
	grid-column-end: 5 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.three .one-desc{
	grid-column-start:1;
	grid-column-end: 7 span;
	grid-row-start:1;
	grid-row-end: 1 span;

	text-align: right;
}
/*-------------------------------europe-----------------------------------*/
.f10.body-insideGrid.four{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:10;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.four .one{
	grid-column-start:6;
	grid-column-end: 7 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.four .one-desc{
	grid-column-start:2;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;

	text-align: right;
}
.f10.body-insideGrid.four .two{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.four .two-desc{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;

	/*text-align: right;*/
}
.f10.body-insideGrid.four .three{
	grid-column-start:5;
	grid-column-end: 6 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.four .three-desc{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;

	text-align: right;
}
.f10.body-insideGrid.four .four{
	grid-column-start:1;
	grid-column-end: 7 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.four .four-desc{
	grid-column-start:8;
	grid-column-end: 4 span;
	grid-row-start:4;
	grid-row-end: 1 span;

	/*text-align: right;*/
}
.f10.body-insideGrid.four .five{
	grid-column-start:7;
	grid-column-end: 6 span;
	grid-row-start:5;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.four .five-desc{
	grid-column-start:3;
	grid-column-end: 4 span;
	grid-row-start:5;
	grid-row-end: 1 span;

	text-align: right;
}
.f10.body-insideGrid.four .six{
	grid-column-start:2;
	grid-column-end: 7 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f10.body-insideGrid.four .six-desc{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:6;
	grid-row-end: 1 span;

	/*text-align: right;*/
}

/*-------------------------------feature 11 / f11-----------------------------------*/
.f11.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f11.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end:12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f11.body-insideGrid.one .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f11.body-insideGrid.one .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f11.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f11.body-insideGrid.two .one{
	grid-column-start:1;
	grid-column-end:5 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f11.body-insideGrid.two .one-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 20px;

	grid-column-start:6;
	grid-column-end: 7 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f11.body-insideGrid.two .two{
	grid-column-start:6;
	grid-column-end:3 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f11.body-insideGrid.two .three{
	grid-column-start:1;
	grid-column-end:4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f11.body-insideGrid.two .four{
	grid-column-start:5;
	grid-column-end:8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f11.body-insideGrid.two .five{
	grid-column-start:5;
	grid-column-end:5 span;
	grid-row-start:4;
	grid-row-end: 2 span;
}
.f11.body-insideGrid.two .five-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 20px;
	grid-column-start:1;
	grid-column-end:4 span;
	grid-row-start:5;
	grid-row-end: 1 span;
}

/*-------------------------------feature 12 / f12-----------------------------------*/
.f12.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f12.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end:12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f12.body-insideGrid.one .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f12.body-insideGrid.one .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f12.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}

.f12.body-insideGrid.two .one{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f12.body-insideGrid.two .one-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 25px;

	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f12.body-insideGrid.two .two{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f12.body-insideGrid.two .three{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f12.body-insideGrid.two .three-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 75px;
	
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f12.body-insideGrid.three{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}
.f12.body-insideGrid.three .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f12.body-insideGrid.three .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
/*-------------------------------feature 13 / f13-----------------------------------*/
.f13.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end:12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.one .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.one .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.two .one{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.two .one-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 75px;

	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.two .two{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.two .two-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 50px;

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.two .three{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.two .four{
	grid-column-start:5;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}

.f13.body-insideGrid.two .four-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 25px;

	grid-column-start:9;
	grid-column-end:4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.two .five{
	grid-column-start:1;
	grid-column-end: 6 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.two .six{
	grid-column-start:7;
	grid-column-end: 6 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}

.f13.body-insideGrid.three{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}

.f13.body-insideGrid.three .one{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.three .one-desc{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.three .two{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.three .three{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f13.body-insideGrid.three .four{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:3;
	grid-row-end: 2 span;
}
.f13.body-insideGrid.three .five{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:5;
	grid-row-end: 1 span;
}


/*-------------------------------ricola redesign / f14-----------------------------------*/
.f14.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end: 6 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.one .two{
	grid-column-start:7;
	grid-column-end:6 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.one .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.one .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}

.f14.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.two .one{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.two .one-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;

	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.two .two{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.two .two-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
	padding-top: 50px;

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.three{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.three .one-desc{
	grid-column-start:5;
	grid-column-end:8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.three .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.three .one{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f14.body-insideGrid.three .two{
	grid-column-start:1;
	grid-column-end: 9 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}

.f14.body-insideGrid.three .two-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;
/*	padding-top: 50px;*/

	grid-column-start:10;
	grid-column-end: 3 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}

/*-------------------------------bacardi rojo spiced rum / f15-----------------------------------*/
.f15.body-insideGrid.one{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f15.body-insideGrid.one .one{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f15.body-insideGrid.one .two{
	grid-column-start:7;
	grid-column-end:6 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f15.body-insideGrid.one .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f15.body-insideGrid.one .one-desc{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}

.f15.body-insideGrid.two{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:6;
	grid-row-end: 1 span;
}
.f15.body-insideGrid.two .one{
	grid-column-start:1;
	grid-column-end: 8 span;
	grid-row-start:1;
	grid-row-end: 2 span;
}
.f15.body-insideGrid.two .one-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;

	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f15.body-insideGrid.two .four{
	grid-column-start:9;
	grid-column-end: 4 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
.f15.body-insideGrid.two .two{
	grid-column-start:5;
	grid-column-end: 8 span;
	grid-row-start:3;
	grid-row-end: 2 span;
}
.f15.body-insideGrid.two .two-desc{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	
	margin: 0px;
	padding: 10px;

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:3;
	grid-row-end: 1 span;
}
.f15.body-insideGrid.two .three{
	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:4;
	grid-row-end: 1 span;
}
.f15.body-insideGrid.three{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	/*grid-column-gap: 25px;*/
	grid-gap: 25px;

	/*position inside .body-grid*/
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:8;
	grid-row-end: 1 span;
}
.f15.body-insideGrid.three .one-desc{
	grid-column-start:5;
	grid-column-end:8 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f15.body-insideGrid.three .block{
	background-color: rgb(255,255,0);

	grid-column-start:1;
	grid-column-end: 4 span;
	grid-row-start:1;
	grid-row-end: 1 span;
}
.f15.body-insideGrid.three .one{
	grid-column-start:1;
	grid-column-end: 12 span;
	grid-row-start:2;
	grid-row-end: 1 span;
}
